body {
    margin: 0;
}
header {
    height: 100vh;
    padding-top: 80px;
}
header div {
    display: flex;
    justify-content: center;
}
section {
    padding: none;
}
td {
    text-align: center;
    color: black;
    border: 3px solid black;
}
th {
    border: 3px solid black;
    color:black;
}
.container {
    display: flex;
    justify-content: space-between;
}
.nav_bar {
    border: 2px solid rgb(235, 235, 235);
    background-color: white; 
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 1000;
}
.nav_link {
    vertical-align: middle;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited, a:visited:hover {
    color: purple;
}

footer {
    background-color: bisque;
    border-top: 2px solid chocolate;
    padding: 16px;
}